body {
    background: url(' imagenes/fon.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header {
    background: black;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    color: whitesmoke;
    line-height: 100px;
    border-bottom: 3px solid black;
    box-sizing: border-box;
}

nav ul li {
    float: left;
    margin: 10px;
    list-style: inside;
    color: black;
}

z .clearfix {
    clear: both;
}

nav {
    background: rgba(0, 0, 0, 0.596);
    height: 30px;
    border-bottom: solid black;
}

table {
    border: black 3px solid;
}

th,
td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
}

#content {
    float: left;
    width: 80%;
    background: url(' imagenes/content.jpg');
    color: white;
}

aside {
    float: left;
    width: 20%;
    background: url(' imagenes/b.jpg');
    color: black;
    min-height: 1131px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#a {
    width: 800px;
    height: 300px;
}

#b {
    width: 400px;
    height: 400px;
}

#c {
    width: 400px;
    height: 400px;
}

#d {
    width: 400px;
    height: 400px;
}

#e {
    width: 400px;
    height: 400px;
}

#f {
    width: 400px;
    height: 400px;
}